<% provide(:title, 'About') %>

<h1>About</h1>

<h2> Application by Romain Palmero </h2>

<p>
	Application créer en suivant le tutoriel <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>. 
</p>
